# Java & Maven
target/
build/

# Maven Wrapper
.mvn/wrapper/maven-wrapper.jar
!mvnw
!mvnw.cmd

# Eclipse / Spring Tool Suite (STS)
.apt_generated/
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache/

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr

# NetBeans
nbproject/private/
nbbuild/
dist/
nbdist/
.nb-gradle/

# VS Code
.vscode/

# OS-specific
.DS_Store
Thumbs.db

# Environment files
.env
.env.*

# Docker
**/docker-compose.override.yml
